@font-face {
  font-family: 'Icons';
  src: url("themes/default/assets/fonts/icons.eot");
  src: url("themes/default/assets/fonts/icons.eot?#iefix") format('embedded-opentype'), url("themes/default/assets/fonts/icons.woff2") format('woff2'), url("themes/default/assets/fonts/icons.woff") format('woff'), url("themes/default/assets/fonts/icons.ttf") format('truetype'), url("themes/default/assets/fonts/icons.svg#icons") format('svg');
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}
.qv-object-qsstatistic {
  width: 100%;
  height: 100%;
}
.qv-object-qsstatistic {
  @import "../semantic/src/definitions/elements/button.less";
  @import "../semantic/src/definitions/elements/icon.less";
  @import "../semantic/src/definitions/elements/label.less";
  @import "../semantic/src/definitions/views/statistic.less";

  .ui.statistics .statistic > .label,
  .ui.statistic > .label {
    text-transform: none;
  }

  .ui.statistics .statistic > .value,
  .ui.statistic > .value {
    text-transform: none;
  }
}
